@import "../../query";

.layout {
  display: flex;
  align-items: center;
  max-width: 1150px;
  margin: 115px auto 0;
  @include sm {
    margin: 115px auto 0;
    width: 100%;
    padding: 0;
    overflow-x:  hidden;
  }
}
