.photoFrame {
  align-self: center;
  width : 300px;
  padding: 7px;
  border: 2px solid #701212;
  border-radius: 5px;
  //box-shadow: 0 0 3px #696464;
  overflow: hidden;
  background: #ffffff;

  .picture {
    display: block;
    width: 100%;
  }
}
