.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  background-color: #08456b;
  overflow: hidden;

  .title {
    position: absolute;
    z-index: 1;
    text-align: center;
    margin-left: 10%;
    color: #ffffff;
    background-color: transparent;
    font-size: 50px;
    line-height: 10px;
    letter-spacing: .2rem;
    font-weight: 400;
    text-shadow: 0 0 3px #000000;
  }
  .dragon_eye {
    background-color: #0C68A5;
    background-image:linear-gradient(to right, #08456b 25%, #99c6ec 50%, #08456b 75%);
    color: #0C68A5;
    height: 100%;
    animation:  move_eye 15s linear 0s infinite alternate ;
  }


}

@keyframes move_eye { from { margin-left:-20%; } to { margin-left:100%; }  }
